@{
  Layout = "_Layout";
  ViewData["Title"] = "Edit @(Model.Name)";
}

<form action="/Parks/Details/@(Model.ParkId)" method="post">
<label for="name">Park Name:
  <input id="name" name="name" type="text" value="@(Model.Name)">
<label for="state">Location (US State Name):
  <input id="state" name="state" type="text" value="@(Model.State)">
<label for="stateornational">State Park or National Park:
  <input id="stateornational" name="stateornational" type="text" value="@(Model.StateOrNational)">
  <button type="submit">Submit Changes</button>
</form>
<p>
  <a href="/Parks/Details/@(Model.ParkId)"> Return to @Model.Name </a>
</p>